/*ejercicio1b.css  CC18064*/

fichero {background-color: lightseagreen;}
ficha {background-color: lightgray; display: block;}
carnet {color: gray; display: inline;}
nombre {color: white; display: inline;}
apellido {color: aqua; display: inline;}
contacto {background-color: lightcoral;}
tipo {color: gray; display: inline;}
numero {color: gray; display: inline;}
email {color: gray; display: inline;}
dui {color: lightgreen; display: inline;}
isss {color: lightgreen; display: inline;}
afp {color: lightgreen; display: inline;}
direccion {color: aqua; display: none;}